node_modules
dist
build
target
.onnxruntime
ort
Kokoros
espeak-ng
misaki
misaki-rs
phonetisaurus-g2p-rs
piper-rs
patches
aurora-new
eslint
.history
.mypy_cache
.svelte-kit
.venv
venv
*.lock
bun.lock
package-lock.json
uv.lock
Cargo.lock
*.json
*.md

